.my-carousel {
    padding: 0;
}

.my-carousel h5{
    font-size: 60px;
}

.my-carousel p{
    font-size: 30px;
}
.carousel-caption {
    bottom: 100px;
}

.carousel-item {
    height: 20rem;
}


.card-img-top {
  height: 25vh; /* Адаптируйте под необходимые параметры */
  object-fit: cover;
  width: 100%; /* Изображение занимает всю доступную ширину */
}

.my-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.truncate {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate_title {
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}
